<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">{{ hotel }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a
            class="btn"
            data-bs-toggle="collapse"
            data-bs-target="#hotelOperationsMenu"
            aria-expanded="false"
            aria-controls="hotelOperationsMenu"
          >
            Hotel Operations
          </a>
          <div class="collapse" id="hotelOperationsMenu">
            <div class="card card-body">
              <button class="btn btn-primary mb-2" id="addRoomButton">
                Add Room
              </button>
              <button class="btn btn-secondary" id="createBookingButton">
                Create Booking
              </button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer" (click)="logout()"
            >Log Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
