<main>
  <form class="col-md-4" [formGroup]="registerForm" (ngSubmit)="onSubmite()">
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        formControlName="name"
        autocomplete="new-email"
        name="register-email"
        autocomplete="new-username"
        formControlName="name"
      />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Adress</label>
      <input type="text" class="form-control" formControlName="adress" />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" formControlName="email" />
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        name="register-password"
        autocomplete="new-password"
      />
    </div>
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Register
    </button>
  </form>
</main>
